{% extends "base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{% import "_macros.html" as macros %}
{% block title %}端口查询{% endblock %}
{% block styles %}
    {{ super() }}
    <link href={{ url_for('static', filename = 'vendor/app/css/help.css') }} rel="stylesheet">
{% endblock %}
{% block page_content %}
{#<div class="page-header" style="background: #ffffff">#}
{#    <ul class="nav nav-tabs">#}
{#        <li role="presentation" class="active"><a href="#">登录日志</a></li>#}
{#        <li role="presentation"><a href="/log">操作日志</a></li>#}
{#    </ul>#}
{#</div>#}

<div class="row">
    <div class="col-md-12">
        <h1>帮助</h1>
        <p>乐通通信跳纤管理网站是一个帮助用户在光纤机架设备上做跳纤管理的网站。它主要有以下几个功能：</p>
        <ol>
            <li>跳纤管理</li>
            <p>跳纤管理主要记录了各个机架的96芯设备单元，72芯配线单元间跳纤接出接入端口，以及接出端口至接入端口的光纤跳线长度。只有在新增跳纤里保存的记录才会保存至这个表中。</p>
            <p>用户可以依据机架号，96芯设备单元号，72芯配线单元号等信息查询跳纤的长度。也可以依据查询内容导出查询到的记录文件（Excel格式）。</p>
            <p>审核确认功能是用于对本次跳纤记录的审核。备注功能可以添加用户自己的内容，方便查询。</p>
            <li>新增跳纤（跳纤计算及跳纤步骤）</li>
            <p>新增跳纤主要功能是跳纤长度计算机跳纤步骤的演示。用户可以按照提示步骤逐一选择机架，接出单元/接入单元，以及接出端口/接入端口。</p>
            <p>开始计算 后会有此次跳纤的光纤跳线长度及选择多长的跳纤比较合适。</p>
            <p>跳纤步骤会提示用户如何去操作跳纤过程。用户可以按照提示一步一步的操作跳纤走线的路径及方案。</p>
            <li>端口查询</li>
            <p>可以依据机架号，单元类型分别查询在用或不在用的端口，这样可以方便用户了解哪些端口已经被占用。</p>
        </ol>
        <p>如用户忘记密码请联系网站管理员重设密码，需要其它帮助也请联系网站管理员。</p>
        <p>或Email: liqingguang@letel.com.cn 或电话 {{ company.company_tel }}</p>
    </div>
</div>


{% endblock %}

{% block scripts %}
<footer class="text-center">
    <span class="footer">{{ company.company_name }} | 地址：{{ company.company_address }} | 联系电话：{{ company.company_tel }}</span>
</footer>
{{ super() }}
{% endblock %}