{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}跳纤计算{% endblock %}
{% block styles %}
    {{ super() }}
    <link href={{ url_for('static', filename = 'vendor/app/css/index.css') }} rel="stylesheet">
{% endblock %}
{% block navbar %}
    {{ super() }}
    <div class="page-header">
        <div class="container">
            <div class="row row-select row-select-0">
                <div class="col-md-6">
                    <span class="step">1.选择机架</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_content %}

<form method="POST">
{#<div class="row row-select row-select-1">#}
{#    <div class="col-md-3">#}
{#        {{ form.shebei_count.label }}#}
{#    </div>#}
{#    <div class="col-md-2">#}
{#        {{ form.shebei_count }}#}
{#    </div>#}
{#</div>#}

<div class="row row-select row-select-2">
    <div class="col-md-6">
        {{ form.jiechushebei.label }}
    </div>
    <div class="col-md-6">
        {{ form.jierushebei.label }}
    </div>
</div>

<div class="row row-select row-select-3">
    <div class="col-md-6">
        {{ form.jiechushebei }}
    </div>
    <div class="col-md-6">
        {{ form.jierushebei }}
    </div>
</div>

<div class="row row-select row-select-4">
    <div class="col-md-6">
        <label>请选择接出单元</label>
    </div>
    <div class="col-md-6">
        <label>请选择接入单元</label>
    </div>
</div>

<div class="row row-select row-select-5">
    <div class="col-md-6">
        <div class="radio">
            <label>
                <input type="radio" name="jiechushebei_side" value="96芯设备单元" checked>
                96芯设备单元
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" name="jiechushebei_side" value="72芯配线单元">
                72芯配线单元
            </label>
        </div>
    </div>
    <div class="col-md-6">
        <div class="col-md-6">
            <div class="radio">
                <label>
                    <input type="radio" name="jierushebei_side" value="96芯设备单元">
                    96芯设备单元
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="jierushebei_side" value="72芯配线单元" checked>
                    72芯配线单元
                </label>
            </div>
        </div>
    </div>
</div>

<div class="row row-select row-select-6">
    <div class="col-md-4 col-md-offset-4">
        {{ form.submit }}
    </div>
</div>
</form>

{% endblock %}

{% block scripts %}
<footer class="text-center">
    <span class="footer">上海乐通通讯设备（集团）股份有限公司 | 地址：上海市闵松路500号 | 联系电话：021-88888888</span>
</footer>
{{ super() }}
{% endblock %}