{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}跳纤计算{% endblock %}
{% block navbar %}
    {{ super() }}
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <span class="step">1.选择机架</span>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block page_content %}


<div class="row">
    <div class="col-md-6 col-md-offset-3">{{ wtf.quick_form(form) }}</div>
</div>



{% endblock %}