{% extends "base.html" %}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{% import "_macros.html" as macros %}
{% block title %}跳纤管理{% endblock %}
{% block styles %}
    {{ super() }}
    <link href={{ url_for('static', filename = 'vendor/app/css/manage_jumping.css') }} rel="stylesheet">
{% endblock %}
{% block page_content %}
<div class="page-header" style="background: #ffffff">
    <form class="form-inline" method="POST" action="{{ url_for('main.manage_jumping') }}">
        <div class="form-group">
            <label for="jijiahao">机架号</label>
            <select class="form-control" id="jijiahao" name="jijiahao">
                <option value=""></option>
                {% for jjh in jijiahao_select %}
                    <option value="{{ jjh }}">{{ jjh }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
{#            <label for="side">单元类型</label>#}
            <select class="form-control" id="side" name="side">
                <option value =""></option>
                <option value ="96芯设备单元">96芯设备单元</option>
                <option value ="72芯配线单元">72芯配线单元</option>
            </select>
        </div>
        <div class="form-group">
            <select class="form-control" id="slotnum-96" name="slotnum-96">
                <option value=""></option>
                <option value="1">H1</option>
                <option value="2">H2</option>
                <option value="3">H3</option>
                <option value="4">H4</option>
                <option value="5">H5</option>
                <option value="6">H6</option>
                <option value="7">H7</option>
                <option value="8">H8</option>
                <option value="9">H9</option>
            </select>
            <select class="form-control" id="slotnum-72" name="slotnum-72">
                <option value=""></option>
                <option value="1">L12</option>
                <option value="2">L11</option>
                <option value="3">L10</option>
                <option value="4">L9</option>
                <option value="5">L8</option>
                <option value="6">L7</option>
                <option value="7">L6</option>
                <option value="8">L5</option>
                <option value="9">L4</option>
                <option value="9">L3</option>
                <option value="9">L2</option>
                <option value="9">L1</option>
            </select>
        </div>
        <div class="form-group">
            <label for="rowcol">端口</label>
            <input type="text" class="form-control" id="rowcol" name="rowcol" placeholder="(1,2)或(2)">
        </div>
        <div class="form-group">
            <label for="updated_time">时间</label>
            <input type="text" class="form-control" id="updated_time" name="updated_time" placeholder="2017-10-31">
        </div>
        <div class="form-group">
            <label for="username">操作人员</label>
            <input type="text" class="form-control" id="username" name="username">
        </div>
        <div class="form-group">
            <label for="remark">备注</label>
            <input type="text" class="form-control" id="remark" name="remark">
        </div>
        <button class="btn btn-default" type="submit" name="search" value="搜索">
            <i class="fa fa-search"></i>
        </button>
{#        <button class="btn btn-default" type="submit" name="export" value="export" onclick="{location.href='/export'}">#}
        <button class="btn btn-default" type="submit" name="export" value="export">
            导出Excel
        </button>
{#        <div class="input-group col-lg-4">#}
{#            <input type="text" class="form-control" placeholder="Search..." id="shuruzhi" name="shuruzhi">#}
{#            <div class="input-group-btn">#}
{#                <button class="btn btn-default" type="submit" name="search" value="搜索">#}
{#                    <i class="fa fa-search"></i>#}
{#                </button>#}
{#            </div>#}
{#        </div>#}
    </form>

</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                跳纤管理
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>编号</th>
                                <th>时间</th>
                                <th>操作<br>人员</th>
                                <th>接出<br>机架号</th>
                                <th>接出单元<br>类型</th>
                                <th>接出<br>单元号</th>
                                <th>接出<br>端口</th>
                                <th>接入<br>机架号</th>
                                <th>接入单元<br>类型</th>
                                <th>接入<br>单元号</th>
                                <th>接入<br>端口</th>
                                <th>跳纤<br>长度</th>
                                <th>审核<br>确认</th>
                                <th>备注</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for duankouTable in duankouTables %}
                                <tr>
                                    {% if duankouTables %}
                                        <td>{{ duankouTables.index(duankouTable)+1 }}</td>
                                    {% endif %}
                                    <td>{{ duankouTable.updated_time | format_time }}</td>
                                    <td>{{ duankouTable.username }}</td>
                                    <td>{{ duankouTable.jiechu_jijia }}</td>
                                    <td>{{ duankouTable.jiechu_side }}</td>
                                    {% if duankouTable.jiechu_side == '72芯配线单元' %}
                                        <td>L{{ duankouTable.jiechu_slotnum | peixian_danyuan }}</td>
                                    {% else %}
                                        <td>H{{ duankouTable.jiechu_slotnum }}</td>
                                    {% endif %}
                                    {% if duankouTable.jiechu_side == '96芯设备单元' %}
                                        <td>({{ 1+24*(duankouTable.jiechu_row-1)+(duankouTable.jiechu_col-1) }})</td>
                                    {% else %}
                                        <td>({{ duankouTable.jiechu_row }},{{ duankouTable.jiechu_col }})</td>
                                    {% endif %}
                                    <td>{{ duankouTable.jieru_jijia }}</td>
                                    <td>{{ duankouTable.jieru_side }}</td>
                                    {% if duankouTable.jieru_side == '72芯配线单元' %}
                                        <td>L{{ duankouTable.jieru_slotnum | peixian_danyuan }}</td>
                                    {% else %}
                                        <td>H{{ duankouTable.jieru_slotnum }}</td>
                                    {% endif %}
                                    {% if duankouTable.jieru_side == '96芯设备单元' %}
                                        <td>({{ 1+24*(duankouTable.jieru_row-1)+(duankouTable.jieru_col-1) }})</td>
                                    {% else %}
                                        <td>({{ duankouTable.jieru_row }},{{ duankouTable.jieru_col }})</td>
                                    {% endif %}
                                    <td>{{ duankouTable.line }}米</td>
                                    <td>{{ macros.format_confirm(duankouTable.confirm) }}</td>
                                    <td>{{ duankouTable.remark }}</td>
                                    <td>
                                        <a class="icon" href="/jumping/edit/{{ duankouTable.id }}" title="编辑">
                                            <span class="fa fa-pencil glyphicon glyphicon-pencil"></span>
                                        </a>
                                        <a class="icon" href="/jumping/delete/{{ duankouTable.id }}" title="删除" style="margin-left: 10px;">
                                            <span class="fa fa-trash glyphicon glyphicon-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>

<div class="row">
    <div class="col-sm-6">
        {{ macros.pagination_widget(pagination, 'main.manage_jumping') }}
    </div>
</div>

{% endblock %}

{% block scripts %}
<footer class="text-center">
    <span class="footer">{{ company.company_name }} | 地址：{{ company.company_address }} | 联系电话：{{ company.company_tel }}</span>
</footer>
{{ super() }}
<script>
    $(document).ready(function () {
        $("#slotnum-96").show();
        $("#slotnum-72").hide();
        $("#side").change(function () {
            if($("#side").val() == '96芯设备单元'){
                $("#slotnum-96").show();
                $("#slotnum-72").hide();
            }
            else if($("#side").val() == '72芯配线单元'){
                $("#slotnum-96").hide();
                $("#slotnum-72").show();
            }
        })
    })
</script>
{% endblock %}