{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}跳纤计算{% endblock %}
{% block styles %}
    {{ super() }}
    <link href={{ url_for('static', filename = 'vendor/app/css/step.css') }} rel="stylesheet">
{% endblock %}

{% block navbar %}
    {{ super() }}
    <div class="page-header">
        <div class="row">
            <div class="col-md-6 col-md-offset-4">
                <h2>要连接的两个端口分别是：</h2>
                {% if shebei_dict['jiechushebei_side'] == '96芯设备单元' %}
                    {% set jiechu_danyuan = 'H' %}
                {% elif shebei_dict['jiechushebei_side'] == '72芯配线单元' %}
                    {% set jiechu_danyuan = 'L' %}
                {% endif %}
                {% if shebei_dict['jierushebei_side'] == '96芯设备单元' %}
                    {% set jieru_danyuan = 'H' %}
                {% elif shebei_dict['jierushebei_side'] == '72芯配线单元' %}
                    {% set jieru_danyuan = 'L' %}
                {% endif %}
                <p>接出端口：{{ shebei_dict['jiechushebei'] }}，{{ shebei_dict['jiechushebei_side'] }}{{ jiechu_danyuan }}{{ shebei_dict['jiechushebei_radio'][0] | peixian_danyuan }}，端口({{ shebei_dict['jiechushebei_radio'][1] }},{{ shebei_dict['jiechushebei_radio'][2] }})
                <p>接入端口：{{ shebei_dict['jierushebei'] }}，{{ shebei_dict['jierushebei_side'] }}{{ jieru_danyuan }}{{ shebei_dict['jierushebei_radio'][0] }}，端口({{ jieru_duankou }})</p>
                <p>{{ log_list[0] }}</p>
            </div>
        </div>
    </div>
{% endblock %}

{% block page_content %}
<ol>
<div class="row">
    <div class="col-md-8 col-md-offset-3">
        <article>
{#            <p>第一步</p>#}
            <p><span>接线步骤</span></p>
{#            <p>{{ log_list[0] }}</p>#}
            <li>{{ log_list[1] }}</li>
            <li>{{ log_list[2] }}</li>
            <li>{{ log_list[3] }}</li>
            <canvas id="canvas1" width="931" height="3298"></canvas>
            <!--<p>sdfjsadfjsiofjsoaifjsadfiojsaidfojsdaifjsaddfa</p>-->
        </article>
    </div>
</div>

<div class="row" style="position: relative; top: -1600px;">
    <div class="col-md-8 col-md-offset-3">
        <article>
{#            <p>第二步</p>#}
            <li>{{ log_list[4] }}</li>
            <li>{{ log_list[5] }}</li>
            <canvas id="canvas4" width="1195" height="3298"></canvas>
            <!--<p>sdfjsadfjsiofjsoaifjsadfiojsaidfojsdaifjsaddfa</p>-->
        </article>
    </div>
</div>

<div class="row" style="position: relative; top: -3200px;">
    <div class="col-md-8 col-md-offset-1">
        <article>
{#            <p>第三步</p>#}
            <div style="max-width: 100%; padding-left: 25%;">
                <li>{{ log_list[6] }}</li>
                <li>{{ log_list[7] }}</li>
            </div>
            <canvas id="canvas5" width="1854" height="3296"></canvas>
            <!--<p>sdfjsadfjsiofjsoaifjsadfiojsaidfojsdaifjsaddfa</p>-->
        </article>
    </div>
</div>



<div class="row" style="position: relative; top: -4800px;">
    <div class="col-md-8 col-md-offset-3">
        <article>
{#            <p>第四步</p>#}
            <li>{{ log_list[10] }}</li>
            <li>{{ log_list[11] }}</li>
            <canvas id="canvas3" width="931" height="3298"></canvas>
            <!--<p>sdfjsadfjsiofjsoaifjsadfiojsaidfojsdaifjsaddfa</p>-->
        </article>
    </div>
</div>
</ol>

<div class="row" style="position: relative; top: -6400px;">
    <div class="col-md-4 col-md-offset-4">
{#        <button type="button" class="btn btn-default" onclick="{window.history.back(-1);}">< 返回重选</button>#}
{#        <button type="button" class="btn btn-primary" style="margin-left: 10%; width:30%; background-color: #3d90ff;" onclick="{location.href='/modf'}">3D演示</button>#}
        <input type="submit" name="submit" class="btn btn-default class-prev" value="< 返回重选" onclick="{window.history.back(-1);}">
        <input type="submit" name="submit" class="btn btn-primary class-submit" value="保存" style="float: right;" onclick="go()">
    </div>
</div>

<input class="result" id="picStep1_x" name="picStep1_x" type="hidden" value="{{ step_list[0][0] }}">
<input class="result" id="picStep1_y" name="picStep1_y" type="hidden" value="{{ step_list[0][1] }}">
<input class="result" id="picStep2_x" name="picStep2_x" type="hidden" value="{{ step_list[1][0] }}">
<input class="result" id="picStep2_y" name="picStep2_y" type="hidden" value="{{ step_list[1][1] }}">
<input class="result" id="picStep3_x" name="picStep3_x" type="hidden" value="{{ step_list[2][0] }}">
<input class="result" id="picStep3_y" name="picStep3_y" type="hidden" value="{{ step_list[2][1] }}">
<input class="result" id="picStep4_x" name="picStep4_x" type="hidden" value="{{ step_list[3][0] }}">
<input class="result" id="picStep4_y" name="picStep4_y" type="hidden" value="{{ step_list[3][1] }}">
<input class="result" id="picStep5_x" name="picStep5_x" type="hidden" value="{{ step_list[4][0] }}">
<input class="result" id="picStep5_y" name="picStep5_y" type="hidden" value="{{ step_list[4][1] }}">
<input class="result" id="picStep6_x" name="picStep6_x" type="hidden" value="{{ step_list[5][0] }}">
<input class="result" id="picStep6_y" name="picStep6_y" type="hidden" value="{{ step_list[5][1] }}">
<input class="result" id="picStep7_x" name="picStep7_x" type="hidden" value="{{ step_list[6][0] }}">
<input class="result" id="picStep7_y" name="picStep7_y" type="hidden" value="{{ step_list[6][1] }}">
<input class="result" id="picStep8_x" name="picStep8_x" type="hidden" value="{{ step_list[8][0] }}">
<input class="result" id="picStep8_y" name="picStep8_y" type="hidden" value="{{ step_list[8][1] }}">
<input class="result" id="picStep8_1_x" name="picStep8_1_x" type="hidden" value="{{ step_list[7][0] }}">
<input class="result" id="picStep8_1_y" name="picStep8_1_y" type="hidden" value="{{ step_list[7][1] }}">
{#<input class="result" id="picStep8_2_x" name="picStep8_2_x" type="hidden" value="{{ step_list[4][1][0] }}">#}
{#<input class="result" id="picStep8_2_y" name="picStep8_2_y" type="hidden" value="{{ step_list[4][1][1] }}">#}
{#<input class="result" id="picStep8_3_x" name="picStep8_3_x" type="hidden" value="{{ step_list[4][2][0] }}">#}
{#<input class="result" id="picStep8_3_y" name="picStep8_3_y" type="hidden" value="{{ step_list[4][2][1] }}">#}
{#<input class="result" id="picStep8_4_x" name="picStep8_4_x" type="hidden" value="{{ step_list[4][3][0] }}">#}
{#<input class="result" id="picStep8_4_y" name="picStep8_4_y" type="hidden" value="{{ step_list[4][3][1] }}">#}
{#<input class="result" id="picStep8_5_x" name="picStep8_5_x" type="hidden" value="{{ step_list[4][4][0] }}">#}
{#<input class="result" id="picStep8_5_y" name="picStep8_5_y" type="hidden" value="{{ step_list[4][4][1] }}">#}
<input class="result" id="picStep9_x" name="picStep9_x" type="hidden" value="{{ step_list[9][0] }}">
<input class="result" id="picStep9_y" name="picStep9_y" type="hidden" value="{{ step_list[9][1] }}">
<input class="result" id="picStep10_x" name="picStep10_x" type="hidden" value="{{ step_list[10][0] }}">
<input class="result" id="picStep10_y" name="picStep10_y" type="hidden" value="{{ step_list[10][1] }}">
<input class="result" id="picStep11_x" name="picStep11_x" type="hidden" value="{{ step_list[11][0] }}">
<input class="result" id="picStep11_y" name="picStep11_y" type="hidden" value="{{ step_list[11][1] }}">
<input class="result" id="picStep12_x" name="picStep12_x" type="hidden" value="{{ step_list[12][0] }}">
<input class="result" id="picStep12_y" name="picStep12_y" type="hidden" value="{{ step_list[12][1] }}">
<input class="result" id="picStep13_x" name="picStep13_x" type="hidden" value="{{ step_list[13][0] }}">
<input class="result" id="picStep13_y" name="picStep13_y" type="hidden" value="{{ step_list[13][1] }}">
<input class="result" id="picStep5_1_x" name="picStep5_1_x" type="hidden" value="{{ step_list[14][0] }}">
<input class="result" id="picStep5_1_y" name="picStep5_1_y" type="hidden" value="{{ step_list[14][1] }}">
<input class="result" id="picStep13_1_x" name="picStep13_1_x" type="hidden" value="{{ step_list[15][0] }}">
<input class="result" id="picStep13_1_y" name="picStep13_1_y" type="hidden" value="{{ step_list[15][1] }}">
<input class="result" id="from_name" name="from_name" type="hidden" value="{{ shebei_dict['jiechushebei'] }}">
<input class="result" id="to_name" name="to_name" type="hidden" value="{{ shebei_dict['jierushebei'] }}">
<input class="result" id="dict" name="dict" type="hidden" value="{{ shebei_dict }}">
<input class="result" id="line" name="line" type="hidden" value="{{ line }}">
<input class="result" id="color" name="color" type="hidden" value="{{ color }}">
<a href="#0" class="cd-top">Top</a>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src={{ url_for('static', filename = 'vendor/app/js/step_two_back_front.js') }} type="text/javascript"></script>
    <script  type="text/javascript">
        function go() {
            window.location.href="/step/save/"+$("#dict").val()+"/"+$("#line").val();
        }
    </script>
{% endblock %}